@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

// Vertical align with offset
@mixin vertical-align-offset($offset) {
  position: relative;
  top: calc(50% - $offset);
  -webkit-transform: translateY(calc(-50% - $offset));
  -ms-transform: translateY(calc(-50% - $offset));
  transform: translateY(calc(-50% - $offset));
}

@mixin vertical-absolute($position: absolute) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin boxShadow(){
  -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 10px 0px rgba(0, 0, 0, 0.15);
}

@mixin reverseBoxShadow(){
  -webkit-box-shadow: 0 -5px 5px -5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 -5px 5px -5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 -5px 5px -5px rgba(0, 0, 0, 0.15);
}

// Recommended all 0.3s ease
@mixin smoothTransition($easing){
  -webkit-transition: $easing;
    -moz-transition: $easing;
    -o-transition: $easing;
    transition: $easing; 
}

@mixin border-gradient($from, $to, $width) {
  border-left: $width solid $from;
  border-right: $width solid $to;
  background-image:
    // both needed for top & bottom
    linear-gradient(left, $from, $to),
    linear-gradient(left, $from, $to);

  background-image:
    // both needed for top & bottom
    -webkit-linear-gradient(left, $from, $to),
    -webkit-linear-gradient(left, $from, $to);

  
  // 100% left & right, $width px top & bottom
  background-size: 100% $width;
  background-position: 0 100%, 0 0;
  background-repeat: no-repeat;
  background-clip: border-box;
}

@mixin font-gradient($from, $to, $dir) {
  background: -webkit-linear-gradient($dir, $from, $to);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

// Kunnen straks weg
$light-orange: #F5A75A;
//$light-orange: #F2BF8C;
$light-green: #98c22c;
$base-orange: #f7932e;
$dark-grey: #444444;
$light-grey: #D3D3D3;

// New colours
$base-green: #23b574;
$dark-green: #00A174;
$dark: #272F3D;

// droompark kleuren
$zanding-pink: #D45C99;
$zanding-pink-light: #E292BB;
$marina-orange: #ED754D;
$marina-orange-light: #F3A388;
$buitenhuizen-blue: #0080AF;
$buitenhuizen-blue-dark: #55AAC9;
$veluwe-blue: #5BA7BA;
$veluwe-blue-dark: #3C6F7C;
$spaarnwoude-yellow: #EFAA00;
$molengroet-orange: #F28B52;
$zuiderzee-blue: #007FAF;
$schoneveld-orange: #EC6608;

// Variables
$yellow:  #add356;
$teal:    #00dfa6;
$lorange: #ffcb52;
$dorange: #ff451f;
$blue:    #3dade9;
$purple:  #bf2fcb;

//Media queries
$screen-sm-min: 767px; //Small devices Tablets 
$screen-md-min: 969px; //Medium devices Laptops

$screen-xs-max: 768px; //Extra small devices Phones
$screen-sm-max: 970px; //Small devices Tablets 
$screen-md-max: 1200px; //Medium devices Laptops
$screen-large: 1500px; //Medium devices Laptops
$screen-full-hd: 1920px; // Full hd laptops / monitors