<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <script src="js/modernizr.js"></script> <!-- Modernizr -->
    <title>Droomparken - Adaptive</title>

    <!-- CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-adaptive.css" rel="stylesheet">

    <meta name="theme-color" content="#23b574">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

  <div class="container-fluid">
    <nav class="navbar">
      <div class="brandBox">
        <img src="img/droomparken_logo.svg">
      </div>

      <div class="droomparkImage">
      </div>

      <ul>
        <li class="cookieButton phaseButtons currentPhase zanding"><a id="cookieButton">Terugkerende gebruiker of klant</a></li>
        <li class="buurtButton phaseButtons"><a id="buurtButton">Vind iets in de buurt</a></li>
        <li class="fallButton phaseButtons"><a id="fallButton">Twee personen tijdens de herfstvakantie</a></li>
        <li class="summerButton phaseButtons"><a id="summerButton">Vier personen tijdens de zomervakantie</a></li>
      </ul>
    </nav>

    <header id="home" class="section-class-name dynamicColor zanding">
      <div class="row">
          <div class="col-xs-12 header-container">
            <div class="dynamic-phase-container">
              
              <section class="cookiePhase phases">
                <div class="woningContainer animated fadeIn lazy">
                  <a target="_blank" href="https://www.droomparken.nl/dezanding/verblijf/superieur?location=[%226%22]&travelgroup={%22Adult%22:2}"><div class="woningImageContainer woningSuperieur lazy" data-src="img/superieur.jpg"></div></a>
                  <p class="typeWoning">Maximale beleving Type G</p>
                  <h3 class="woningTitel">Superieur</h3>
                  <p class="woningBeschrijving">Deze woning heeft alle ingrediënten in huis voor de maximale beleving van thuiskomen en toch dat ontspannen vakantiegevoel.</p>
                  <p class="aantalPersonen"><span class="personenIcon glyphicon glyphicon-user"></span>6 Aantal personen</p>
                  <p class="aantalSlaapkamers"><span class="kamerIcon glyphicon glyphicon-bed"></span>3 Aantal slaapkamers</p>
                </div>

                <div class="woningContainer animated fadeIn lazy">
                  <a target="_blank" href="https://www.droomparken.nl/dezanding/verblijf/cube_magnifique?location=[%226%22]&travelgroup={%22Adult%22:2}"><div class="woningImageContainer woningMagnifique lazy" data-src="img/magni.jpg"></div></a>
                  <p class="typeWoning">Een golf van luxe - Type CUB6X</p>
                  <h3 class="woningTitel">Cube Magnifique</h3>
                  <p class="woningBeschrijving">Luxe woning met een ruime opzet, functioneel, eigentijds en stijlvol. Ideaal voor kleine groepen, grote gezinnen.</p>
                  <p class="aantalPersonen"><span class="personenIcon glyphicon glyphicon-user"></span>6 Aantal personen</p>
                  <p class="aantalSlaapkamers"><span class="kamerIcon glyphicon glyphicon-bed"></span>3 Aantal slaapkamers</p>
                </div>

                <div class="woningContainer animated fadeIn lazy">
                  <a target="_blank" href="https://www.droomparken.nl/dezanding/verblijf/geheim_van_otterlo?location=[%226%22]&travelgroup={%22Adult%22:2}"><div class="woningImageContainer woningOtterlo lazy" data-src="img/otterlo.jpg"></div></a>
                  <p class="typeWoning">Authentiek Veluwe - Type H6</p>
                  <h3 class="woningTitel">Geheim van Otterlo</h3>
                  <p class="woningBeschrijving">Zeer luxe 6-persoons villa met royale woonkamer. Met recht is deze woning onthuld als "Het Geheim van Otterlo".</p>
                  <p class="aantalPersonen"><span class="personenIcon glyphicon glyphicon-user"></span>6 Aantal personen</p>
                  <p class="aantalSlaapkamers"><span class="kamerIcon glyphicon glyphicon-bed"></span>3 Aantal slaapkamers</p>
                </div>

                <div class="itemContainer animated fadeIn lazy">
                  <div class="itemImageContainer itemFeest lazy" data-src="img/feest.jpg"></div>
                  <p class="itemType itemTypeCalendar"><span class="calendarIcon glyphicon glyphicon-calendar"></span>Speciale arrangementen</p>
                  <p class="itemType itemTypeLocation"><span class="locationIcon glyphicon glyphicon-map-marker"></span>Droompark de Zanding</p>
                  <h3 class="itemTitel">Feestpakket</h3>
                  <p class="itemBeschrijving">Heb je iets te vieren? Wij regelen graag een mooi feestpakket voor je om de ultieme feestsfeer te creëren in je accommodatie!</p>

                  <a class="buttonMore" href="https://www.droomparken.nl/dezanding/service" target="_blank">Lees meer <span class="chevronRight glyphicon glyphicon-chevron-right"></span></a>
                </div>

                <div class="itemContainer animated fadeIn lazy">
                  <div class="itemImageContainer itemOntbijt lazy" data-src="img/ontbijt.jpg"></div>
                  <p class="itemType itemTypeCalendar"><span class="calendarIcon glyphicon glyphicon-calendar"></span>Speciale arrangementen</p>
                  <p class="itemType itemTypeLocation"><span class="locationIcon glyphicon glyphicon-map-marker"></span>Droompark de Zanding</p>
                  <h3 class="itemTitel">Ontbijtbox</h3>
                  <p class="itemBeschrijving">Laat de boodschappen voor het ontbijt maar zitten! Je kunt namelijk voordelig een uitgebreide ontbijtbox bijboeken.</p>

                  <a class="buttonMore" href="https://www.droomparken.nl/dezanding/service" target="_blank">Lees meer <span class="chevronRight glyphicon glyphicon-chevron-right"></span></a>
                </div>

                <div class="itemContainer animated fadeIn lazy">
                  <div class="itemImageContainer itemBBQ lazy" data-src="img/bbq.jpg"></div>
                  <p class="itemType itemTypeCalendar"><span class="calendarIcon glyphicon glyphicon-calendar"></span>Speciale arrangementen</p>
                  <p class="itemType itemTypeLocation"><span class="locationIcon glyphicon glyphicon-map-marker"></span>Droompark de Zanding</p>
                  <h3 class="itemTitel">BBQ Arrangement</h3>
                  <p class="itemBeschrijving">Geniet van een heerlijke goed verzorgde BBQ tijdens je verblijf. Ontdek snel ons smaakvolle BBQ arrangement.</p>

                  <a class="buttonMore" href="https://www.droomparken.nl/dezanding/service" target="_blank">Lees meer <span class="chevronRight glyphicon glyphicon-chevron-right"></span></a>
                </div>
              </section>

              <!-- Locatie fase-->
              <section class="locationPhase phases">
                <div class="woningContainer animated fadeIn lazy">
                  <img data-src="img/marina.png" class="vakantiePark lazy">
                  <p class="afstandCijfer afstandMarina"><span class="wegIcon glyphicon glyphicon-road"></span>115,5 km</p>
                  <a target="_blank" href="https://www.droomparken.nl/marinastrandbad/verblijf/tiny_house?travelgroup={%22Adult%22:2}"><div class="woningImageContainer woningTH2" data-src="img/th2.jpg"></div></a>
                  <p class="typeWoning">Unieke smart homes - Type TH2</p>
                  <h3 class="woningTitel">Tiny House</h3>
                  <p class="woningBeschrijving">Tiny Houses. Laat je verrassen door de authenticiteit en looks van deze unieke smart homes.</p>
                  <p class="aantalPersonen"><span class="personenIcon glyphicon glyphicon-user"></span>2 Aantal personen</p>
                  <p class="aantalSlaapkamers"><span class="kamerIcon glyphicon glyphicon-bed"></span>1 Aantal slaapkamers</p>
                </div>

                <div class="woningContainer animated fadeIn lazy">
                  <img data-src="img/spaarnwoude.png" class="vakantiePark lazy">
                  <p class="afstandCijfer afstandSpaarnwoude"><span class="wegIcon glyphicon glyphicon-road"></span>135,5 km</p>
                  <a target="_blank" href="https://www.droomparken.nl/spaarnwoude/verblijf/carre?"><div class="woningImageContainer woningCarre" data-src="img/carre.jpg"></div></a>
                  <p class="typeWoning">Royale recreatiewoning - Type E</p>
                  <h3 class="woningTitel">Carre</h3>
                  <p class="woningBeschrijving">Robuuste en ruime woning die door de rechte lijnen en symmetrische vormen een vertrouwd en huiselijk gevoel geven</p>
                  <p class="aantalPersonen"><span class="personenIcon glyphicon glyphicon-user"></span>4 Aantal personen</p>
                  <p class="aantalSlaapkamers"><span class="kamerIcon glyphicon glyphicon-bed"></span>2 Aantal slaapkamers</p>
                </div>

                <div class="woningContainer animated fadeIn lazy">
                  <img data-src="img/buitenhuizen.png" class="vakantiePark lazy">
                  <p class="afstandCijfer afstandBuitenhuizen"><span class="wegIcon glyphicon glyphicon-road"></span>146,2 km</p>
                  <a target="_blank" href="https://www.droomparken.nl/buitenhuizen/verblijf/l_cube?travelgroup={%22Adult%22:2}"><div class="woningImageContainer woningLCubePlus lazy" data-src="img/LCubePlus.jpg"></div></a>
                  <p class="typeWoning">Royaal en stijlvol - Type CUB6</p>
                  <h3 class="woningTitel">L-Cube Plus</h3>
                  <p class="woningBeschrijving">Luxe cube woning met een robuuste, stijlvolle uitstraling</p>
                  <p class="aantalPersonen"><span class="personenIcon glyphicon glyphicon-user"></span>6 Aantal personen</p>
                  <p class="aantalSlaapkamers"><span class="kamerIcon glyphicon glyphicon-bed"></span>3 Aantal slaapkamers</p>
                </div>

                <div class="itemContainer animated fadeIn lazy">
                  <div class="itemImageContainer itemKano lazy" data-src="img/kano.jpg"></div>
                  <p class="itemType itemTypeCalendar marina"><span class="calendarIcon glyphicon glyphicon-calendar"></span>Water & Fun</p>
                  <p class="itemType itemTypeLocation"><span class="locationIcon glyphicon glyphicon-map-marker"></span>Droompark Marina strandbad</p>
                  <h3 class="itemTitel">Kano's</h3>
                  <p class="itemBeschrijving">Kanoën is zo leuk! Wat is er nou leuker dan samen in een bootje zitten en over het water glijden dwars door de mooie natuur.</p>

                  <a class="buttonMore marina" href="https://www.droomparken.nl/marinastrandbad/service" target="_blank">Lees meer <span class="chevronRight glyphicon glyphicon-chevron-right"></span></a>
                </div>

                <div class="itemContainer animated fadeIn lazy">
                  <div class="itemImageContainer itemFiets lazy" data-src="img/fietsverhuur.jpg"></div>
                  <p class="itemType itemTypeCalendar spaarnwoude"><span class="calendarIcon glyphicon glyphicon-calendar"></span>Extra plezier</p>
                  <p class="itemType itemTypeLocation"><span class="locationIcon glyphicon glyphicon-map-marker"></span>Droompark Spaarnwoude</p>
                  <h3 class="itemTitel">Fietsverhuur</h3>
                  <p class="itemBeschrijving">Trek met de fiets de natuur in en geniet van de mooie omgeving en de wind die door je haren wappert.</p>

                  <a class="buttonMore spaarnwoude" href="https://www.droomparken.nl/spaarnwoude/service" target="_blank">Lees meer <span class="chevronRight glyphicon glyphicon-chevron-right"></span></a>
                </div>

                <div class="itemContainer animated fadeIn lazy">
                  <div class="itemImageContainer itemVogel lazy" data-src="img/vogel.jpg"></div>
                  <p class="itemType itemTypeCalendar buitenhuizen"><span class="calendarIcon glyphicon glyphicon-calendar"></span>Speciale arrangementen</p>
                  <p class="itemType itemTypeLocation"><span class="locationIcon glyphicon glyphicon-map-marker"></span>Droompark buitenhuizen</p>
                  <h3 class="itemTitel">Vroege / Late Vogel Arrangement</h3>
                  <p class="itemBeschrijving">Langer genieten van je vakantie? Files vermijden? Boek dan onze Vroege en/of Late Vogel Arrangement!</p>

                  <a class="buttonMore buitenhuizen" href="https://www.droomparken.nl/buitenhuizen/service" target="_blank">Lees meer <span class="chevronRight glyphicon glyphicon-chevron-right"></span></a>
                </div>

                <!-- Lazy content -->
                <div class="woningContainer animated fadeIn lazy">
                  <img data-src="img/zuiderzee.png" class="vakantiePark lazy">
                  <p class="afstandCijfer"><span class="wegIcon glyphicon glyphicon-road"></span>151,4km</p>
                  <a target="_blank" href="https://www.droomparken.nl/spaarnwoude/verblijf/lavenir?travelgroup={%22Adult%22:2}"><div class="woningImageContainer woningLAvenir lazy" data-src="img/lavenir.jpg"></div></a>
                  <p class="typeWoning">Ontspannen recreatieplezier - Type F</p>
                  <h3 class="woningTitel">L'Avenir</h3>
                  <p class="woningBeschrijving">Een verblijf in de L'Avenir staat garant voor ontspanning, recreatieplezier en comfort tijdens jouw vakantie.</p>
                  <p class="aantalPersonen"><span class="personenIcon glyphicon glyphicon-user"></span>6 Aantal personen</p>
                  <p class="aantalSlaapkamers"><span class="kamerIcon glyphicon glyphicon-bed"></span>3 Aantal slaapkamers</p>
                </div>

                <div class="woningContainer animated fadeIn lazy">
                  <img data-src="img/molengroet.png" class="vakantiePark lazy">
                  <p class="afstandCijfer"><span class="wegIcon glyphicon glyphicon-road"></span>169,8 km</p>
                  <a target="_blank" href="https://www.droomparken.nl/molengroet/verblijf/t_model?travelgroup={%22Adult%22:2}"><div class="woningImageContainer woningTModel lazy" data-src="img/tmodel.jpg"></div></a>
                  <p class="typeWoning">Speelse vakantiewoning - Type I</p>
                  <h3 class="woningTitel">T-model</h3>
                  <p class="woningBeschrijving">De speelse indeling van deze leuke vakantiewoning zal je aangenaam verrassen</p>
                  <p class="aantalPersonen"><span class="personenIcon glyphicon glyphicon-user"></span>4 Aantal personen</p>
                  <p class="aantalSlaapkamers"><span class="kamerIcon glyphicon glyphicon-bed"></span>2 Aantal slaapkamers</p>
                </div>

                <div class="woningContainer animated fadeIn lazy">
                  <img data-src="img/schoneveld.png" class="vakantiePark lazy">
                  <p class="afstandCijfer"><span class="wegIcon glyphicon glyphicon-road"></span>179,1 km</p>
                  <a target="_blank" href="https://www.droomparken.nl/schoneveld/verblijf/cabana?travelgroup={%22Adult%22:2}"><div class="woningImageContainer woningCabana lazy" data-src="img/cabana.jpg"></div></a>
                  <p class="typeWoning">Eigentijds strandhuis - Type B</p>
                  <h3 class="woningTitel">Cabana</h3>
                  <p class="woningBeschrijving">De Cabana zorgt met zijn hippe, eigentijdse uitstraling van een strandhuis onmiddellijk voor een vakantiegevoel.</p>
                  <p class="aantalPersonen"><span class="personenIcon glyphicon glyphicon-user"></span>4 Aantal personen</p>
                  <p class="aantalSlaapkamers"><span class="kamerIcon glyphicon glyphicon-bed"></span>2 Aantal slaapkamers</p>
                </div>

                <div class="itemContainer animated fadeIn lazy">
                  <div class="itemImageContainer itemKano lazy" data-src="img/watersport.jpg"></div>
                  <p class="itemType itemTypeCalendar zuiderzee"><span class="calendarIcon glyphicon glyphicon-calendar"></span>Extra plezier</p>
                  <p class="itemType itemTypeLocation"><span class="locationIcon glyphicon glyphicon-map-marker"></span>Droompark Zuiderzee</p>
                  <h3 class="itemTitel">Watersportverhuur</h3>
                  <p class="itemBeschrijving">Bij de nabij gelegen surfschool Windy Waters kun je onder andere kano’s, kajaks en waterfietsen huren. Op welke manier ga jij het water trotseren?</p>

                  <a class="buttonMore zuiderzee" href="https://www.droomparken.nl/zuiderzee/service" target="_blank">Lees meer <span class="chevronRight glyphicon glyphicon-chevron-right"></span></a>
                </div>

                <div class="itemContainer animated fadeIn lazy">
                  <div class="itemImageContainer itemFiets lazy" data-src="img/skelterverhuur.jpg"></div>
                  <p class="itemType itemTypeCalendar molengroet"><span class="calendarIcon glyphicon glyphicon-calendar"></span>Extra plezier</p>
                  <p class="itemType itemTypeLocation"><span class="locationIcon glyphicon glyphicon-map-marker"></span>Droompark Molengroet</p>
                  <h3 class="itemTitel">Skelterverhuur</h3>
                  <p class="itemBeschrijving">Lekker rondscheuren op een skelter. Kinderen houden ervan. Het voelt stiekem toch wel een beetje stoer om zo’n karretje te besturen.</p>

                  <a class="buttonMore molengroet" href="https://www.droomparken.nl/molengroet/service" target="_blank">Lees meer <span class="chevronRight glyphicon glyphicon-chevron-right"></span></a>
                </div>

                <div class="itemContainer animated fadeIn lazy">
                  <div class="itemImageContainer itemVogel lazy" data-src="img/wellness.jpg"></div>
                  <p class="itemType itemTypeCalendar schoneveld"><span class="calendarIcon glyphicon glyphicon-calendar"></span>Speciale arrangementen</p>
                  <p class="itemType itemTypeLocation"><span class="locationIcon glyphicon glyphicon-map-marker"></span>Droompark Schoneveld</p>
                  <h3 class="itemTitel">Wellness Arrangement</h3>
                  <p class="itemBeschrijving">Even extra genieten tijdens je vakantie? Boek dan ons Wellness Privé Arrangement. Je kunt dan 1 uur gebruik maken van de sauna en twintig minuten heerlijk genieten onder de zonnebank.</p>

                  <a class="buttonMore schoneveld" href="https://www.droomparken.nl/schoneveld/service" target="_blank">Lees meer <span class="chevronRight glyphicon glyphicon-chevron-right"></span></a>
                </div>
              </section>

              <section class="fallPhase phases">
                <div class="woningContainer animated fadeIn">
                  <a target="_blank" href="https://www.droomparken.nl/hoogeveluwe/verblijf/tiny_house?travelgroup={%22Adult%22:2}"><div class="woningImageContainer woningTH1"></div></a>
                  <p class="typeWoning">Unieke smarthomes - Type TH</p>
                  <h3 class="woningTitel">Tiny House</h3>
                  <p class="woningBeschrijving">Laat je verrassen door de authenticiteit van deze unieke smart homes en ontdek samen 'het nieuwe chillen'.</p>
                  <p class="aantalPersonen"><span class="personenIcon glyphicon glyphicon-user"></span>2 Aantal personen</p>
                  <p class="aantalSlaapkamers"><span class="kamerIcon glyphicon glyphicon-bed"></span>1 Aantal slaapkamers</p>
                </div>

                <div class="woningContainer animated fadeIn">
                  <a target="_blank" href="https://www.droomparken.nl/hoogeveluwe/verblijf/studio?travelgroup={%22Adult%22:2}"><div class="woningImageContainer woningStudio"></div></a>
                  <p class="typeWoning">Lekker wegdromen - Type S</p>
                  <h3 class="woningTitel">Studio</h3>
                  <p class="woningBeschrijving">Geniet samen van deze prachtige studio en ben echt even helemaal weg!</p>
                  <p class="aantalPersonen"><span class="personenIcon glyphicon glyphicon-user"></span>2 Aantal personen</p>
                  <p class="aantalSlaapkamers"><span class="kamerIcon glyphicon glyphicon-bed"></span>1 Aantal slaapkamers</p>
                </div>

                <div class="woningContainer animated fadeIn">
                  <a target="_blank" href="https://www.droomparken.nl/hoogeveluwe/verblijf/tiny_loft?"><div class="woningImageContainer woningLoft"></div></a>
                  <p class="typeWoning">Tijd voor elkaar - Type TL</p>
                  <h3 class="woningTitel">Tiny Loft</h3>
                  <p class="woningBeschrijving">Hotelkamer 2.0. Geniet van de luxe en ruimte met elkaar in deze prachtige Tiny loft</p>
                  <p class="aantalPersonen"><span class="personenIcon glyphicon glyphicon-user"></span>2 Aantal personen</p>
                  <p class="aantalSlaapkamers"><span class="kamerIcon glyphicon glyphicon-bed"></span>1 Aantal slaapkamers</p>
                </div>

                <div class="itemContainer animated fadeIn">
                  <div class="itemImageContainer itemCheck"></div>
                  <p class="itemType itemTypeCalendar veluwe"><span class="calendarIcon glyphicon glyphicon-calendar"></span>Speciale arrangementen</p>
                  <p class="itemType itemTypeLocation"><span class="locationIcon glyphicon glyphicon-map-marker"></span>Droompark Hooge Veluwe</p>
                  <h3 class="itemTitel">Luxe Uitcheck Arrangement</h3>
                  <p class="itemBeschrijving">Wil je graag wat eerder je accommodatie betreden of juist wat later je accommodatie weer verlaten op je vertrekdag?</p>

                  <a class="buttonMore veluwe" href="https://www.droomparken.nl/hoogeveluwe/service" target="_blank">Lees meer <span class="chevronRight glyphicon glyphicon-chevron-right"></span></a>
                </div>

                <div class="itemContainer animated fadeIn">
                  <div class="itemImageContainer itemFiets"></div>
                  <p class="itemType itemTypeCalendar veluwe"><span class="calendarIcon glyphicon glyphicon-calendar"></span>Extra plezier</p>
                  <p class="itemType itemTypeLocation"><span class="locationIcon glyphicon glyphicon-map-marker"></span>Droompark Hooge Veluwe</p>
                  <h3 class="itemTitel">Fietsverhuur</h3>
                  <p class="itemBeschrijving">Trek met de fiets de natuur in en geniet van de mooie omgeving en de wind die door je haren wappert.</p>

                  <a class="buttonMore veluwe" href="https://www.droomparken.nl/hoogeveluwe/service" target="_blank">Lees meer <span class="chevronRight glyphicon glyphicon-chevron-right"></span></a>
                </div>

                <div class="itemContainer animated fadeIn">
                  <div class="itemImageContainer itemBed"></div>
                  <p class="itemType itemTypeCalendar veluwe"><span class="calendarIcon glyphicon glyphicon-calendar"></span>Speciale arrangementen</p>
                  <p class="itemType itemTypeLocation"><span class="locationIcon glyphicon glyphicon-map-marker"></span>Droompark Hooge Veluwe</p>
                  <h3 class="itemTitel">Pluspakket Tweepersoons bed</h3>
                  <p class="itemBeschrijving">Een romantische vakantie samen? Maar dan helemaal compleet met jullie bed, speciaal opgemaakt voor twee personen. </p>

                  <a class="buttonMore veluwe" href="https://www.droomparken.nl/hoogeveluwe/service" target="_blank">Lees meer <span class="chevronRight glyphicon glyphicon-chevron-right"></span></a>
                </div>
              </section>

              <section class="summerPhase phases">
                <div class="woningContainer animated fadeIn">
                  <a target="_blank" href="https://www.droomparken.nl/marinastrandbad/verblijf/beach_house?travelgroup={%22Adult%22:2}"><div class="woningImageContainer woningBeach"></div></a>
                  <p class="typeWoning">Geniet van het strandleven - Type TB</p>
                  <h3 class="woningTitel">Beach House</h3>
                  <p class="woningBeschrijving">Laat je verrassen door dit slimme en daardoor ruime strandhuis. Onbeperkt genieten van het strandleven.</p>
                  <p class="aantalPersonen"><span class="personenIcon glyphicon glyphicon-user"></span>4 Aantal personen</p>
                  <p class="aantalSlaapkamers"><span class="kamerIcon glyphicon glyphicon-bed"></span>2 Aantal slaapkamers</p>
                </div>

                <div class="woningContainer animated fadeIn">
                  <a target="_blank" href="https://www.droomparken.nl/marinastrandbad/verblijf/cube_la_mer?"><div class="woningImageContainer woningCubeLaMer"></div></a>
                  <p class="typeWoning">Ideaal voor een gezin - Type C</p>
                  <h3 class="woningTitel">Cube la Mer</h3>
                  <p class="woningBeschrijving">Functioneel, eigentijds en bijzonder stijlvol woning die erg geliefd is bij gezinnen en stellen.</p>
                  <p class="aantalPersonen"><span class="personenIcon glyphicon glyphicon-user"></span>4 Aantal personen</p>
                  <p class="aantalSlaapkamers"><span class="kamerIcon glyphicon glyphicon-bed"></span>2 Aantal slaapkamers</p>
                </div>

                <div class="woningContainer animated fadeIn">
                  <a target="_blank" href="https://www.droomparken.nl/marinastrandbad/verblijf/kampeerplaats?"><div class="woningImageContainer woningKampeer"></div></a>
                  <p class="typeWoning">Ruime kampeerplaats aan de Ijssel - Type V</p>
                  <h3 class="woningTitel">Kampeerplaats</h3>
                  <p class="woningBeschrijving">Basis kampeerplaats gelegen nabij een watertappunt</p>
                  <p class="aantalPersonen"><span class="personenIcon glyphicon glyphicon-user"></span>6 Aantal personen</p>
                </div>

                <div class="itemContainer animated fadeIn">
                  <div class="itemImageContainer itemFamilie"></div>
                  <p class="itemType itemTypeCalendar marina"><span class="calendarIcon glyphicon glyphicon-calendar"></span>Speciale arrangementen</p>
                  <p class="itemType itemTypeLocation"><span class="locationIcon glyphicon glyphicon-map-marker"></span>Droompark Marina strandbad</p>
                  <h3 class="itemTitel">Familie Arrangement</h3>
                  <p class="itemBeschrijving">Geniet met het hele gezin va een onbezorgde maaltijd op locatie! Exclusief te boeken op Droompark Marina strandbad.</p>

                  <a class="buttonMore marina" href="https://www.droomparken.nl/marinastrandbad/service" target="_blank">Lees meer <span class="chevronRight glyphicon glyphicon-chevron-right"></span></a>
                </div>

                <div class="itemContainer animated fadeIn">
                  <div class="itemImageContainer itemKano"></div>
                  <p class="itemType itemTypeCalendar marina"><span class="calendarIcon glyphicon glyphicon-calendar"></span>Water & Fun</p>
                  <p class="itemType itemTypeLocation"><span class="locationIcon glyphicon glyphicon-map-marker"></span>Droompark Spaarnwoude</p>
                  <h3 class="itemTitel">Kano's</h3>
                  <p class="itemBeschrijving">Kanoën is zo leuk! Wat is er nou leuker dan samen in een bootje zitten en over het water glijden dwars door de mooie natuur.</p>

                  <a class="buttonMore marina" href="https://www.droomparken.nl/marinastrandbad/service" target="_blank">Lees meer <span class="chevronRight glyphicon glyphicon-chevron-right"></span></a>
                </div>

                <div class="itemContainer animated fadeIn">
                  <div class="itemImageContainer itemGourmet"></div>
                  <p class="itemType itemTypeCalendar marina"><span class="calendarIcon glyphicon glyphicon-calendar"></span>Speciale arrangementen</p>
                  <p class="itemType itemTypeLocation"><span class="locationIcon glyphicon glyphicon-map-marker"></span>Droompark buitenhuizen</p>
                  <h3 class="itemTitel">Gourmetarrangement</h3>
                  <p class="itemBeschrijving"> Wil je een avondje even lekker gourmetten met zijn allen, maar beschik je zelf niet over een gourmetstel? Geen probleem!</p>

                  <a class="buttonMore marina" href="https://www.droomparken.nl/marinastrandbad/service" target="_blank">Lees meer <span class="chevronRight glyphicon glyphicon-chevron-right"></span></a>
                </div>
              </section>


            </div>
          </div>
      </div>
    </header>
  </div> <!-- container fluid end -->

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="js/jquery.aniview.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.lazy.min.js"></script>

    <!-- Dynamic content -->
    <script src="js/jquery.cookie.js"></script>
    <script src="js/js.cookie.js"></script>
    <script src="js/adaptive.js"></script>
    <script src="js/geocode.js"></script>
  </body>
</html>